<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 40px;
}
</style>
</head>
<body>

<h1>This is css demo file</h1>
<p>Horizons</p>

</body>
</html>